<div class="container">
	<h1 class="text-center"><%= @bookmark.title %></h1>
	
	<% if notice %>
	<div class="alert alert-success alert-dismissable" id="notice">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <%= notice %>
	</div>
	<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Date Created</th>
      <th>Date Updated</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @bookmark.title %></td>
        <td><%= @bookmark.url %></td>
        <td><%= @bookmark.created_at.to_date %></td>		
        <td><%= @bookmark.updated_at.to_date %></td>		
        <td><%= link_to 'Edit', edit_bookmark_path(@bookmark), :class => "label label-warning" %></td>
        <td><%= link_to 'Back', bookmarks_path, :class => "label label-default" %></td>
      </tr>
  </tbody>
</table>

</div>