<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><span class="glyphicon glyphicon-bookmark"></span>myBookmarks</h3>
              <ul class="nav masthead-nav">
				  <% if current_user %>
					<li><%= link_to "Manage your account", edit_user_registration_path %></li>
                	<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %>  </li>
				<% else %>
                	<li><%= link_to "Join", new_user_registration_path %></li>
                	<li><%= link_to "Login", user_session_path %></li>
				<% end %>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Store your bookmarks</h1>
            <p class="lead">A simple app to store and manage your bookmarks.</p>
            <p class="lead">
				<% if current_user %>
					<a class="btn btn-primary btn-lg" href="/bookmarks">Manage Your Bookmarks</a>
				<% else %>
                	<%= link_to "Join myBookmarks", new_user_registration_path, :class => "btn btn-primary btn-lg" %>
				<% end %>
            </p>
          </div>
		  
		  <div class="mastfoot">
			  <div class="inner">
				  <p>by <a href="mailto:janekis@aol.com">Evgenia Kiseleva</a></p>
			  </div>
		  </div>

        </div>

      </div>

    </div>